.Vidoe1 {
 width: 100%;
 height: 100vh;
 position: relative;
object-fit: cover;
 transition: .5s ease;

}
video::-webkit-media-controls {
  display: none !important;
}

.GetInformtion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.GetInformtion h1{
    color: aliceblue;
    font-size: xxx-large;
    font-weight: 900;
}
.GetInformtion p{
    color: aliceblue;
    font-size: xx-large;
    font-weight: 700;
    margin-left: 30%;
}
.GetInformtion  span .typing-textSE{
    color: #fff;
    font-size: xx-large;
    font-weight: 700;
    margin-left: 15%;
    margin-top: 50px;
transition: .5s ease;
  }
.GetInformtion  span .typing-textSEDark{
    color: #5b99b4;
    font-size: xx-large;
    font-weight: 700;
    margin-left: 15%;
    margin-top: 50px;
transition: .5s ease;

}
@keyframes typingFS {
  from { width: 0 }
  to { width: 40% }
}





.GetInformtion  .light i{
  position: relative;
  transition: .5s;
  left: 45% ;
  color: aliceblue;
font-size: xxx-large;
cursor: pointer;
animation: moving 1.8s infinite;
}
.GetInformtion  .Dark i{
  position: relative;
  transition: .5s;
  left: 45% ;
  color: aliceblue;
font-size: xxx-large;
cursor: pointer;
animation: moving 1.8s infinite;
}
.GetInformtion .Dark i:hover{
  color: #5b99b4;
}
.GetInformtion .light  i:hover{
  color: #004aad;
}
@keyframes moving {
  0%{
    top: 100px;
  }
  50%{
    top: 120px;
  }
  100%{
    top: 100px;
  }
}
@media (max-width: 980px){

.GetInformtion h1{
    color: aliceblue;
    font-size: x-large;
    font-weight: 900;
    margin-left: 11%;
    width: 250px;
    
}

  .GetInformtion p{
font-size:   medium;
    margin-left: 35%;

  }
    .GetInformtion span .typing-textSEDark{
    margin-left: 20%;
font-size:large;

  }
    .GetInformtion span .typing-textSE{
font-size:large;
   margin-left: 20%;

  }
}
@media (max-width: 620px){
.GetInformtion  .Dark i{
   position: relative;
  transition: .5s;
  left: 42.5% ;
  
  color: aliceblue;
font-size: 40px;
cursor: pointer;
animation: moving 1.8s infinite;
}
.GetInformtion  .light i{
  position: relative;
  transition: .5s;
  left: 42.5% ;
  
  color: aliceblue;
font-size: 40px;
cursor: pointer;
animation: moving 1.8s infinite;
}
.light{
  margin-top: 120px;
  transition: .5s ease;
}
.Dark{
  margin-top: 120px;
  transition: .5s ease;
}
}