.Main_About{
    margin-top: 200px;
}
 .AboutMeLight  h1{
    text-align: center;
    color: #004aad;
    font-family: 900;
      position: relative;
    top: 0;
 
    animation: OPUp 2s forwards;
}

.h1sNamelight{
    color: #000;
}
.h1sNamedark{
    color: aliceblue;
}
 .AboutMeDark  h1{
    text-align: center;
    color: #5b99b4;
    font-family: 900;
      position: relative;
    top: 0;
 
    animation: OPUp 2s forwards;
}
.Main_Information_ME{
    display: grid;
    grid-template-columns: auto auto;
}
.ImageAndName{
    margin-top: 10%;
    margin-left: 30%;
      position: relative;
    top: 0;
 
    animation: OPUp 2s forwards;
}
.ImageAndName img{
width: 200px;
border-radius: 120px;
margin-left: 15% ;
}
.ImageAndName h1{
    font-size: x-large;
margin-left: 8% ;

}
.InformationAboutMeDark{
    margin-top: 10%;
margin-left: 20%;
    width: 500px;
    background-color: #11183f;
    border-radius: 20px;
    box-shadow: -5px 10px 30px 1px black;
    transition: .5s ease ;
    cursor: pointer;
      position: relative;
    top: 0;
    color: aliceblue;
 
    animation: OPUp 2s forwards;
}
.InformationAboutMe{
        margin-top: 10%;
margin-left: 20%;
    width: 500px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: -5px 10px 30px 1px black;

    cursor: pointer;
      position: relative;
    top: 0;
    color: black;
    transition: .5s ease ;
 
    animation: OPUp 2s forwards;
}
.InformationAboutMe .Aboutplight span{
 color: #004aad;
 font-weight: 700;

}
.InformationAboutMeDark .Aboutplight span{
 color: #004aad;
 font-weight: 700;

}
.InformationAboutMe .AboutpDark span{
 color: #5b99b4;
 font-weight: 700;

}
.InformationAboutMeDark .AboutpDark span{
 color: #5b99b4;
 font-weight: 700;

}
.InformationAboutMe:hover{
transform: scale(1.01);
    
}
.InformationAboutMeDark:hover{
transform: scale(1.01);
    
}
.InformationAboutMe p{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.InformationAboutMeDark p{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}
.BlackScreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.912);
    z-index: 4;
    transition: .5s ease;
   
}
.BlackScreen i{
    color: aliceblue;
    position: fixed;
    top: 5%;
    left: 95%;
    font-size: xx-large;
    cursor: pointer;
    transition: .5s ease;

}
.BlackScreen i:hover{
    color: #004aad;
}
.FocuasInformation{
    position: fixed;
    z-index: 999;
    width: 80%;
    height: 80%;
    background-color: aliceblue;
top: 10%;
left: 10%;
border-radius: 10px;
    
    animation: Sclace 1s forwards;
}
.FocuasInformationDark{
     position: fixed;
    z-index: 999;
    width: 80%;
    height: 80%;
    background-color: #11183f;
    color: aliceblue;
top: 10%;
left: 10%;
border-radius: 10px;
    
    animation: Sclace 1s forwards;
}
.FocuasInformation p {
    width: 80%;
    margin-left: 10%;
    font-size: x-large;

}
.FocuasInformationDark p {
    width: 80%;
    margin-left: 10%;
    font-size: x-large;

}
.FocuasInformation .Aboutplight span{
 color: #004aad;
 font-weight: 700;

}
.FocuasInformationDark .Aboutplight span{
 color: #004aad;
 font-weight: 700;

}

.FocuasInformationDark .AboutpDark span{
 color: #5b99b4;
 font-weight: 700;

}
@keyframes Sclace {
   from{
    transform: scale(0);
   } 
   to{
    transform: scale(1);
   }
}

.FocuasInformationDark .AboutDark span h1{
      text-align: center;
    color: #5b99b4;
    font-family: 900;
    transition: .5s ease;

}
.FocuasInformation .Aboutlight span h1{
      text-align: center;
    color: #004aad;
    font-family: 900;
    transition: .5s ease;

}
.WordInfomations{
    margin-top: 10%;
}
.Word1{
    position: relative;
left: 50%;
width: 48%;
border-radius: 10px;
 box-shadow: 0px 15px 30px 1px black;
background-color: aliceblue;
height: 150px;
top: 0;
animation: OPUp 4s forwards;

}
.Word1Dark{
        position: relative;
left: 50%;
width: 48%;
border-radius: 10px;
 box-shadow: 0px 15px 30px 1px black;
background-color: #11183f;
color: aliceblue;
height: 150px;
top: 0;
animation: OPUp 4s forwards;

}
.Word2{
    margin-top: 10%;
  position: relative;
right: -2%;
width: 48%;
border-radius: 10px;
 box-shadow: 0px 15px  30px 1px black;
background-color: aliceblue;
height: 150px;
top: 0;
animation: OPUp 4s forwards;
margin-bottom: 200px;
}
.Word2Dark{
   margin-top: 10%;
  position: relative;
right: -2%;
width: 48%;
border-radius: 10px;
 box-shadow: 0px 15px  30px 1px black;
background-color: #11183f;
color: aliceblue;
height: 150px;
top: 0;
animation: OPUp 4s forwards;
margin-bottom: 200px;   
}
.WordInfomations p{
width: 80%;
margin-left: 10%;
}
.WordInfomations .h4slight{
    color: #004aad;
    font-size: larger;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}
.WordInfomations .h4sDark{
    color: #5b99b4;
    font-size: larger;
    margin: 0;
    text-align: center;
    padding-top: 10px;
}
.Main_Skills{
    background-color: aliceblue;
    width: 100%;
    height: 1950px;
   

}
.Main_SkillsDarks{
       background-color: #11183f;
    width: 100%;
    height: 1950px;
}
.Main_Skills span h1{
   padding-top: 15%;
   margin: 0;
    color: #004aad;
    text-align: center;
     position: relative;
    transition: .1s ease;

    top: 0;
    animation: OPUp 2s forwards;
}
.Main_SkillsDarks span h1{
   padding-top: 15%;
   margin: 0;
    color: #5b99b4;
    text-align: center;
     position: relative;
    top: 0;
    transition: .1s ease;
    animation: OPUp 2s forwards;
}

.Main_InformationSkills{
    width: 60%;
    margin-left: 20%;
    height: 600px;
    box-shadow: 0 0 60px  1px rgba(0, 0, 0, 0.533);
    margin-top: 10%;
    border-radius: 20px;
     position: relative;
    top: 0;
    animation: OPUp 2s forwards;
}
.Button_Skills{
    padding-top: 3%;
    margin-left: 4%;
}
.button{
    margin-left: 10px;
    padding: 10px 40px;
    border-radius: 8px;
    border: 0;
    background-color: lightgray;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    transition: .5s ease;
    color: black;
}
.button:hover {
box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.241);
transform: scale(1.01);
    color: #004aad;

}
.buttonDark{
    margin-left: 10px;
    padding: 10px 40px;
    border-radius: 8px;
    border: 0;
    background-color: #5b99b4;
    color: black;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    transition: .5s ease;
    
}
.buttonDark:hover {
box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.241);
transform: scale(1.01);
    color: aliceblue;

}
.buttonClick {
     margin-left: 10px;
    padding: 10px 40px;
    border-radius: 8px;
    border: 0;
    background-color: #004aad;
    font-size: large;
    font-weight: 500;
    transition: .5s ease;
    color: aliceblue;
}
.SubSkills {
    width: 90%;
    margin-left: 5%;
    height: 400px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    margin-top: 40px;
     position: relative;
    top: 0;
    animation: OPUp 2s forwards;

}
.Skills{
  width: 90%    ;  
  height: 150px;
    background-color: lightgray;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    transition: .5s ease;
}
.SkillsDark{
    width: 90%    ;  
  height: 150px;
    background-color: #5b99b4;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    transition: .5s ease;
}
.Skills img{
    width: 40px;
    padding-top: 20px;
}
.SkillsDark img{
    width: 40px;
    padding-top: 20px;
}
.Skills a{
color: black;
text-decoration: none;
transition: .5s ease;

} 
.SkillsDark a{
color: black;
text-decoration: none;
transition: .5s ease;

} 
.Skills:hover a{
color: #004aad;
} 
.SkillsDark:hover a{
color: aliceblue;
} 
.SkillsDark:hover{
transform: scale(1.05);

}
.Skills:hover{
transform: scale(1.05);

}
.MainContent{
    margin-top: 25%;

}
.MainContent  b .ContactLight h2{
    color: #004aad;
    font-weight: 700;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 10% ;
      position: relative;
    top: 0;
    animation: OPUp 2s forwards;
    transition: .5s ease;
}
.MainContent  b .ContactDark h2{
    color:  #5b99b4;
    font-weight: 700;
    text-align: center;
    font-size: xx-large;
    padding-bottom: 10% ;
      position: relative;
    top: 0;
    animation: OPUp 2s forwards;
    transition: .5s ease;

}

.Main_informtationContent{
    width: 80%;
    margin-left: 10%;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
}
.BlankLight{
    width: 100%;
    background-color: lightgray;
height: 100px;
border-radius: 20px;
display: grid;
grid-template-columns: auto auto auto auto auto  auto   auto;
gap: 40px;
padding: 10px;
  position: relative;
    top: 0;
    animation: OPUp 2s forwards;
    transition: .5s ease;
}
.BlankDark{
    width: 100%;
    background-color: #5b99b4;
height: 100px;
border-radius: 20px;
display: grid;
grid-template-columns: auto auto auto auto auto  auto   auto;
gap: 40px;
padding: 10px;
  position: relative;
    top: 0;
    animation: OPUp 2s forwards;
    transition: .5s ease;

}
.BlankLight h1{
    color: #004aad;
   width: 100%  ;
    font-size: medium;
    margin: 0;
    margin-top: 40px;
     position: relative;
    top: 0;
    animation: OPUp 2s forwards;
}
.BlankDark h1{
    color: #004aad;
   width: 100%  ;
    font-size: medium;
    margin: 0;
    margin-top: 40px;
     position: relative;
    top: 0;
    animation: OPUp 2s forwards;
}
.BlankLight a{
    text-decoration: none;
    color: black;
    transition: .5s ease;
      position: relative;
    top: 0;
    animation: OPUp 2s forwards;
}
.BlankDark a{
    text-decoration: none;
    color: black;
    transition: .5s ease;
      position: relative;
    top: 0;
    animation: OPUp 2s forwards;
}
.BlankLight a:hover{
    color: #004aad;

}
.BlankDark a:hover{
    color: aliceblue;
}
.Line{
    position: relative;
   
    width: 3px;
    height: 40px;
    background-color: #004aad;
    margin-top: 27px;
      position: relative;
    top: 0;
    animation: OPUp 2s forwards;
    
}
@media (max-width: 980px){
    .Main_Information_ME{
    display: grid;
    grid-template-columns: 1fr;
}
.Main_About h1{
    font-size: larger;
}
.ImageAndName{
    margin-left: 32%;
}
.ImageAndName img{
    width: 100px;
}

.ImageAndName h1{
    font-size: smaller;
margin-left: 10% ;
 position: relative;
    top: 0;
  animation: OPUp 2s forwards;

}
.InformationAboutMeDark{
    margin-top: 10%;
margin-left: 30%;
    width: 400px;
    background-color: #11183f;
    border-radius: 20px;
    box-shadow: -5px 10px 30px 1px black;
    transition: .5s ease ;
    cursor: pointer;
      position: relative;
    top: 0;
    color: aliceblue;
 font-size: small;
    animation: OPUp 2s forwards;
}
.InformationAboutMe{
        margin-top: 10%;
margin-left: 10%;
    width: 400px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: -5px 10px 30px 1px black;

    cursor: pointer;
      position: relative;
    top: 0;
    color: black;
    transition: .5s ease ;
 font-size: small;
 
    animation: OPUp 2s forwards;
}


.FocuasInformation p {
    width: 80%;
    margin-left: 10%;
    font-size: medium;

}
.FocuasInformationDark p {
    width: 80%;
    margin-left: 10%;
    font-size: medium;

}



.FocuasInformationDark .AboutDark span h1{
      text-align: center;
    color: #5b99b4;
    font-family: 900;
    transition: .5s ease;

}
.FocuasInformation .Aboutlight span h1{
      text-align: center;
    color: #004aad;
    font-family: 900;
    transition: .5s ease;

}
.WordInfomations{
    margin-top: 10%;
}

.WordInfomations p{
width: 80%;
margin-left: 10%;
font-size: small;

}
.WordInfomations .h4slight{
    color: #004aad;
    font-size: larger;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-size: medium;

}
.WordInfomations .h4sDark{
    color: #5b99b4;
    font-size: larger;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    font-size: medium;

}
.Main_Skills span{
    font-size: small;
}
.Main_InformationSkills{
   margin-left: 5%;
    width: 90%;
} 
.buttonClick{
    padding: 5px 20px;
    font-size: medium;
}
.buttonDark{
    padding: 5px 20px;
    font-size: medium;

}
.button{
    padding: 5px 20px;
    font-size: medium;

}
.SkillsDark{
width: 70%;
height: 100px;
margin: 0;
}
.Skills{
width: 70%;
height: 100px;
margin: 0;
}
.SubSkills{
    gap: 20px;
    grid-template-columns: auto auto ;
    height: auto;
   padding-bottom: 250px;    
}
.Main_InformationSkills{
    height: auto;

}
.Main_SkillsDarks{
    height: 2300px;
}.Main_Skills{
    height: 2300px;
}
.BlankDark{
    width: 100%;
padding: 0;
    gap: 0;

}
.BlankDark h1{
    margin-left: 0;
font-size: small;
}
.BlankDark a{
    
font-size: small;
}
.BlankLight{
    width: 100%;
padding: 0;
    gap: 0;

}
.BlankLight h1{
    margin-left: 0;
    
font-size: small;
}
.BlankLight a{
    
font-size: small;
}
.Main_informtationContent{
    width: 100%;
    margin-left: 0%;
 
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}
.Main_Skills span h1{
    font-size: large;
}
.Skills p{
    font-size: smaller;
}
}
@media (max-width: 620px){
    .ImageAndName{
        margin-left: 45%;
        transition: .5s ease;
    }
.InformationAboutMe{
    width: 90%;
    margin-left: 0;
    margin-bottom: 100px;
}
.InformationAboutMeDark{
    width: 90%;
    margin-left: 0;
        margin-bottom: 100px;   
}
.Word1Dark{
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 100px;
}.Word2Dark{
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 100px;
}
.Word1{
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 100px;
}.Word2{
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 100px;
}
.BlackScreen i{
    left: 85%;
}
.Button_Skills .button {
padding: 5px 5px;
}
.Button_Skills .buttonDark {
padding: 5px 5px;
}
.buttonClick {
padding: 5px 5px;


}
.BlankDark{
    width: 100%;
padding: 0;
    gap: 0;
grid-template-columns: auto auto;
}
.BlankDark h1{
    margin-top: 10%;
    margin-left: 10%;
font-size: x-small;
}
.BlankDark a{
    
font-size: x-small;
}
.BlankDark{
    width: 95%;
padding: 0;
    gap: 0;
    margin-left: 2.5%;
grid-template-columns: auto auto;
}
.BlankLight{
    width: 95%;
padding: 0;
    gap: 0;
    margin-left: 2.5%;
grid-template-columns: auto auto;
}
.BlankLight h1{
    margin-top: 10%;
    margin-left: 5%;
font-size: x-small;
}
.BlankDark h1{
    margin-top: 10%;
    margin-left: 5%;
font-size: x-small;
}
.MainContent {
    margin-top: 95%;
}
.MainContent b .ContactLight h2 {
    font-size: medium;
}
.MainContent b .ContactDark h2 {
    font-size: medium;
}
.BlankLight a{
    
font-size: x-small;
}
.Line{
   display: none;
}
.Main_informtationContent{
    width: 100%;
    margin-left: 0%;
 
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
   
}
}