.Footer {
    background-color: #004aad;
    width: 100%;
    height: 200px;
    position: relative;
    top: 0;
   animation: Op 2s forwards ease;
   transition: .5s ease;

}
.FooterDark{
  
    width: 100%;
    height: 200px;
    position: relative;
    top: 0;
   animation: Op 2s forwards ease;
   transition: .5s ease;
}
.MainFooter {
    width: 60%;
      display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  margin-left: 10%;
     position: relative;
    top: 0;
   animation: Op 2s forwards ease;
   transition: .5s ease;

}
footer p{
    margin: 0;
    color: aliceblue;
    font-size: x-large;
    font-weight: 700;
    padding-top: 15%;
       position: relative;
    top: 0;
   animation: Op 2s forwards ease;
}
.MainFooterDark{
  width: 60%;
      display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  margin-left: 10%;
     position: relative;
    top: 0;
   animation: Op 2s forwards ease;
   transition: .5s ease;

}
@media (max-width: 980px){
.MainFooterDark p{
   font-size: medium;
}
.MainFooter p{
   font-size: medium;
}
}