body{
  margin: 0;
  padding: 0;
  animation: Op .5s forwards;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray ;

}

@keyframes Op {
  from{
    opacity: 0;
  }
to{
  opacity: 1;
}
}
@keyframes OPUp {
  from{
 opacity: 0;
 top: 10%;
  }
  to{
opacity: 1;
top: 0;
  }
}